* {
	box-sizing: border-box;
}

.lateral {
	background-color: #B33771;
    bottom: 0; 
    left: 0;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 350px;
}

/* Perfil */

.perfil__circulo {
	border-radius: 50%;
	height: 50px;
	overflow: hidden;
	margin: 0;
	width: 50px;
}

.perfil__foto {
	width: 100%;
}

.perfil__nombres {
	color: #cf6a87;
	font-size: 20px;
	margin-left: .5em;
	width: 250px;
}

.perfil_nombres, .perfil_circulo {
	display: inline-block;
	vertical-align: middle;
}

/* Informacion */

.informacion {
	color: #cd84f1;
    position: absolute;
    bottom: 1em;
}

.informacion__titulo {
    font-size: 18px;
}

/* Habilidades */
.habilidades {
	padding: 0;
}

.habilidad {
	background-color: #6F1E51;
	color: #9980FA;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5em;
}